<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products/<%=product.id%>?_method=patch" method="post">
      <input
        type="text"
        name="productName"
        value="<%=product.productName%>"
      /><br />
      <input type="number" name="price" value="<%=product.price%>" /><br />
      <input
        type="text"
        name="description"
        value="<%=product.description%>"
      /><br />
      <button>save</button>
    </form>
  </body>
</html>
